<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Корзина</title>
</head>
<body>
<h1>Корзина</h1>

<!-- Переход на другие страницы-->
<div>
    <form th:action="@{/orders}" method="get" style="float:right;">
        <button type="submit">Оформленные заказы</button>
    </form>
</div>
<div>
    <form th:action="@{/products}" method="get" style="float:right;">
        <button type="submit">Витрина товаров</button>
    </form>
</div>

<!-- Товары в корзине -->

<table style="width:70%; margin: 20px auto;">
    <tr>
        <th>Название</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Общая цена</th>
        <th>Изменение / удаление</th>
    </tr>
    <tr th:each="item : ${cart.items}">
        <td th:text="${item.product.title}">Название</td>
        <td th:text="${item.product.price} + ' ₽'">Цена</td>
        <td>
            <form th:action="@{/cart/update}" method="post">
                <input type="hidden" name="productId" th:value="${item.product.id}">
                <button type="submit" name="quantity" th:value="${item.quantity - 1}"
                        th:disabled="${item.quantity <= 1}">-</button>
                <span th:text="${item.quantity}">1</span>
                <button type="submit" name="quantity" th:value="${item.quantity + 1}">+</button>
            </form>
        </td>
        <td th:text="${item.product.price * item.quantity} + ' ₽'">Общая цена</td>
        <td>
            <form th:action="@{/cart/remove}" method="post">
                <input type="hidden" name="productId" th:value="${item.product.id}">
                <button type="submit" style="background: #ff4444; color: white; border: none; border-radius: 4px; padding: 5px 10px;">
                    Удалить &times;
                </button>
            </form>
        </td>
    </tr>
</table>


<!-- Общая стоимость корзины -->

<h2>Общая стоимость корзины: <span th:text="${totalPrice} + ' ₽'">0.00</span></h2>

<!-- Оформление заказа -->
<form th:action="@{/cart/checkout}" method="post">
    <button type="submit">Оформить заказ</button>
</form>

</body>
</html>