<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Оформленный заказ</title>
</head>
<body>

<!-- Переход на другие страницы-->
<div>
    <form th:action="@{/cart}" method="get" style="float:right;">
        <button type="submit">Корзина</button>
    </form>
</div>
<div>
    <form th:action="@{/orders}" method="get" style="float:right;">
        <button type="submit">Оформленные заказы</button>
    </form>
</div>
<div>
    <form th:action="@{/products}" method="get" style="float:right;">
        <button type="submit">Витрина товаров</button>
    </form>
</div>


<h1>Товары в заказе</h1>

<table border="1">
    <thead>
    <tr>
        <th>Изображение</th>
        <th>Название</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${order.items}">
        <td>
            <img th:src="'/uploads/' + ${item.product.imagePath}" alt="Изображение" style="max-width: 100px;">
        </td>
        <td th:text="${item.product.title}">Название товара</td>
        <td th:text="${item.product.price}">Цена товара</td>
    </tr>
    </tbody>
</table>

<h2>Общая стоимость заказа: <span th:text="${order.orderPrice}">0.00</span></h2>
</body>
</html>